<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map App</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <h1>Map App</h1>
    <form action="/map" method="post">
        <label for="location">Enter Location:</label>
        <input type="text" id="location" name="location" required>
        <button type="submit">Show Map</button>
    </form>
</body>
</html>
